<div class="footer-bar">
  <div class="footer-inner">
    <div class="footer-player">

      <div class="playerbutton">play_arrow</div>

    <input class="seek" value="0" min="0" max="1000" step="1" type="range">

    <span class="player_time"><i class="spinner"></i></span>


    </div>
  </div>
</div>

{{yield}}
