<div class="header grad fixed">
  <div class="header-inner">
    <a class="logo-header no-style" href="{{config.appRoot}}">Chorder Pounder</a>
    <!-- <div class="search-header">
      <input class="outline" placeholder="Search" type="text"/>
    </div> -->
    <div class="mi clip-add-button" style=" align-self: flex-end;" onclick="window.dispatchEvent(new Event('modal-toggle'));">add</div>
  </div>
</div>

{{yield}}
