<div class="header grad fixed">
  <div class="header-inner">
    <div class="logo-header">App Name</div>
    <div class="search-header">
      <input class="outline" placeholder="Search" type="text"/>
    </div>
  </div>
</div>

{{yield}}
