<div class="songflex">


{{#each data.songs as |song|}}

  {{audio-single
    title=song.title
    artist_name=song.artist_name
    src=song.file_url
    tags=song.tags
    img_url=song.img_url
    file_type=song.file_type
    id=song.id
    guid=song.uuid
    playerColor=song.player_color
    play_count=song.play_count
    setActive="setActive"}}

{{/each}}

</div>

{{yield}}
